<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public_html/css/style.css">
    <title>Avis</title>
</head>

<body>
    <div class="blanc">
        <h1 id="title_avis">Avis des professionnels </h1>
            <br> <br><br><br><br><br>
    </div>
    <div class="violet">
        <h1 id="title_avis_formation">Avis sur nos formations </h1>
        <br><br><br><br><br><br>
        
    </div>

    <div class="blanc">
        <h1 id="title_avis">Avis sur nos ateliers</h1>
        <br><br><br><br><br><br>

    </div>


</body>

</html>